<a href="https://colab.research.google.com/github/dldowning/Fall2022-5222/blob/main/5222_Tweet_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TODO: Rename nouns column

# 1. Import & Preprocess All Data

## *1.1* Import libraries and create main dataframe

In [ ]:
from statistics import mean
import pandas as pd
import numpy as np

  
# read text file into pandas DataFrame
df = pd.read_csv("https://raw.githubusercontent.com/cardiffnlp/tweeteval/main/datasets/sentiment/train_text.txt", sep="\n", header=None)
df.columns = ['TWEET']

# Create columns for features 
df["Count: Words in + Lexicon"] = np.nan
df["Count: Words in - Lexicon"] = np.nan
df["Contain The word NO? "] = np.nan
df["Count: Nouns"] = np.nan
df["Contain !"] = np.nan
df["Ratio: Unique Words-Total Words"] = np.nan
df["Ratio: Stop Words-Total Words"] = np.nan
df["Count: Adjectives in + Lexicon"] = np.nan
df["Count: Adjectives in - Lexicon"] = np.nan
df["Log: Tweet word count"] = np.nan
df["Log: Length of Longest Word in Tweet"] = np.nan
df["Log: Count of Words with 5+ Characters"] = np.nan

In [ ]:
df

,TWEET,Count: Words in + Lexicon,Count: Words in - Lexicon,Contain The word NO?,Count: Nouns,Contain !,Ratio: Unique Words-Total Words,Ratio: Stop Words-Total Words,Count: Adjectives in + Lexicon,Count: Adjectives in - Lexicon,Log: Tweet word count,Log: Length of Longest Word in Tweet,Log: Count of Words with 5+ Characters
0,QT @user In the original draft of the 7th book...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ben Smith / Smith (concussion) remains out of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sorry bout the stream last night I crashed out...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Chase Headley's RBI double in the 8th inning o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,@user Alciato: Bee will invest 150 million in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36368,"@user \""""So amazing to have the beautiful Lady...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36369,"9 September has arrived, which means Apple's n...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36370,Leeds 1-1 Sheff Wed. Giuseppe Bellusci securin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36371,@user no I'm in hilton head till the 8th lol g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36372,WASHINGTON (Reuters) - U.S. Vice President Joe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 1.1.1 Import & Unzip Datasets if needed

In [ ]:
!wget https://nlp.stanford.edu/projects/socialsent/files/socialsent_subreddits.zip
!unzip /content/socialsent_subreddits.zip

--2022-10-11 13:41:02--  https://nlp.stanford.edu/projects/socialsent/files/socialsent_subreddits.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15659374 (15M) [application/zip]
Saving to: ‘socialsent_subreddits.zip’

socialsent_subreddi 100%[===================>]  14.93M  4.42MB/s    in 3.4s

2022-10-11 13:41:06 (4.42 MB/s) - ‘socialsent_subreddits.zip’ saved [15659374/15659374]

## *1.2* Create dataframe for each of our selected subbeddit .tsv files

In [ ]:
#read file names into list - will later use to iterate gathering data 

my_file = open("/content/drive/MyDrive/5290 Data/subreddit_files.txt", "r")
data = my_file.read()

data_into_list = data.split("\n")
print(data_into_list)
my_file.close()

['3DS.tsv', '4chan.tsv', '2007scape.tsv', 'ACTrade.tsv', 'amiugly.tsv', 'BabyBumps.tsv', 'baseball.tsv', 'canada.tsv', 'CasualConversation.tsv', 'DarknetMarkets.tsv', 'darksouls.tsv', 'elderscrollsonline.tsv', 'Eve.tsv', 'Fallout.tsv', 'fantasyfootball.tsv', 'GameDeals.tsv', 'gamegrumps.tsv', 'halo.tsv', 'Homebrewing.tsv', 'IAmA.tsv', 'india.tsv', 'jailbreak.tsv', 'Jokes.tsv', 'KerbalSpaceProgram.tsv', 'Keto.tsv', 'leagueoflegends.tsv', 'Libertarian.tsv', 'magicTCG.tsv', 'MakeupAddiction.tsv', 'Naruto.tsv', 'nba.tsv', 'occulus.tsv', 'OkCupid.tsv', 'Parenting.tsv', 'pathofexile.tsv', 'raisedbynarcissists.tsv', 'Random_Acts_Of_Amazon.tsv', 'science.tsv', 'Seattle.tsv', 'TalesFromRetail.tsv', 'talesfromtechsupport.tsv', 'ultrahardcore.tsv', 'videos.tsv', 'Warthunder.tsv', 'histfreq2000.tsv', 'histadj2000.tsv']

## *1.3* Create List That Holds All Subreddit Dataframes

In [ ]:
#Use file names to create dataframe names 

ls_df_names = []            # List to hold subreddit dataframes 

for i in range(0,len(data_into_list)):   # For range in length of the # of subreddits we will use (44)    
  x = data_into_list[i]                  # at index i of data_into_list assign the str value to x
  dataframe_name = 'df_'+ x[:-4]          # with the assigned x value, append 'df_' to the front of te string and remove the last 4 characters ".tsv". Leaves "df_4chan"

  foo1 = dataframe_name
  exec(foo1 + " = ls_df_names.append(pd.read_csv(\"/content/drive/MyDrive/5290 Data/subreddits/" + x +"\",sep = '\t', header=None)) ")    # Convert the string stored in dataframe_name to a variable name to hold the respective dataframe 
                                                                                                                                          # https://stackoverflow.com/questions/11553721/using-a-string-variable-as-a-variable-name
  ls_df_names[i].columns = ['Word', 'Sentiment Score', 'drop']            # Create clumn names in each respective dataframe 
  ls_df_names[i] = ls_df_names[i].drop('drop', axis=1)                    # Drop unwanted column

In [ ]:
ls_df_names[0]

            Word  Sentiment Score
0             ui            -6.06
1         shitty            -6.04
2       pathetic            -5.80
3           suck            -5.75
4         stupid            -5.72
...          ...              ...
4334       remix             2.46
4335      donkey             2.47
4336  earthbound             2.51
4337      unique             2.51
4338         rad             2.75

[4339 rows x 2 columns]

### 1.3.1 Dictionary For Users to Refernce Dataframe Locations

In [ ]:
df_dict = dict(zip(data_into_list, list(range(0, 46))))     # To easily reference all dataframe positions in list ls_df_names
df_dict

{'3DS.tsv': 0,
 '4chan.tsv': 1,
 '2007scape.tsv': 2,
 'ACTrade.tsv': 3,
 'amiugly.tsv': 4,
 'BabyBumps.tsv': 5,
 'baseball.tsv': 6,
 'canada.tsv': 7,
 'CasualConversation.tsv': 8,
 'DarknetMarkets.tsv': 9,
 'darksouls.tsv': 10,
 'elderscrollsonline.tsv': 11,
 'Eve.tsv': 12,
 'Fallout.tsv': 13,
 'fantasyfootball.tsv': 14,
 'GameDeals.tsv': 15,
 'gamegrumps.tsv': 16,
 'halo.tsv': 17,
 'Homebrewing.tsv': 18,
 'IAmA.tsv': 19,
 'india.tsv': 20,
 'jailbreak.tsv': 21,
 'Jokes.tsv': 22,
 'KerbalSpaceProgram.tsv': 23,
 'Keto.tsv': 24,
 'leagueoflegends.tsv': 25,
 'Libertarian.tsv': 26,
 'magicTCG.tsv': 27,
 'MakeupAddiction.tsv': 28,
 'Naruto.tsv': 29,
 'nba.tsv': 30,
 'occulus.tsv': 31,
 'OkCupid.tsv': 32,
 'Parenting.tsv': 33,
 'pathofexile.tsv': 34,
 'raisedbynarcissists.tsv': 35,
 'Random_Acts_Of_Amazon.tsv': 36,
 'science.tsv': 37,
 'Seattle.tsv': 38,
 'TalesFromRetail.tsv': 39,
 'talesfromtechsupport.tsv': 40,
 'ultrahardcore.tsv': 41,
 'videos.tsv': 42,
 'Warthunder.tsv': 43,
 'histfreq2000.tsv': 44,
 'histadj2000.tsv': 45}

## *1.4* Count the number of postive and negative words in each tweet

### 1.4.1 Generate Postitive and Negative Lexicon of Word
For each word in each data frame, if the word has a sentiment score of zero or greater, send it to the positive lexicon. If the Sentiment score is negative the word is sent to the negative lexicon.

In [ ]:
pos_lexicon = []
neg_lexicon = []
df_lengths = []

In [ ]:
#Create Positive and Negative Lexicons
#i is the dataframe j is rows in the dataframe 
for i in range(0, len(ls_df_names)):              # For index in range of 0 - length of list storing dataframes 
  for j in range(0, len(ls_df_names[i].index)):     # For j-index in range of specific dataframe..

    if ls_df_names[i]['Sentiment Score'].values[j] >= 0:        # If the specific dataframe row has a sentiment score greater than or equal to 0... 
      pos_lexicon.append(ls_df_names[i]['Word'].values[j])        # Append that word value to the the lsit of positive lexicon words
    
    if ls_df_names[i]['Sentiment Score'].values[j] < 0:         # If the specific dataframe row has a sentiment score less than 0...
      neg_lexicon.append(ls_df_names[i]['Word'].values[j])        # # Append that word value to the the lsit of negative lexicon words

1.4.1a. Remove duplicate values in each lexicon

In [ ]:
pos_lexicon = [*set(pos_lexicon)]   # Remove duplicate values from + lexicon
neg_lexicon = [*set(neg_lexicon)]   # Remove duplicate values from - lexicon

### 1.4.2 Handling Words Seen In Positive & Negative Lexicons 
 Because we dont want words that are seen in our positive lexicon to also appear in our negative lexicon we must choose a way to decide their classification. My method is take the avgrage sentiment score of the word across every data frame that the word is seen in. 

  Example: The word 'book' is seen in dataframe(s) 1, 6, and 10. The respective sentiment scores are -1.2, 0.6, and 2.2. This word would be classified into the positive word lexicon because the mean of the score is .533, a positive number.

In [ ]:
same_wrds = set(pos_lexicon).intersection(neg_lexicon)      #get set of all words that appear in both psoitive and Negative Lexicon
                                                            #https://stackoverflow.com/questions/1388818/how-can-i-compare-two-lists-in-python-and-return-matches

word_vals_dict = dict.fromkeys(same_wrds, 0)                # Create a dictionary to hold of all words found in positive and negative lexicons     

sentiment_vals2sum = []                                     # This list wil be iteritivley created in the loop below, it will stor the scores that will be averaged

In [ ]:
for k in range(0, len(same_wrds)):    # In the set of words identified in positive and negative lexicon
  
  i = same_wrds.pop()                 # i will return one word from the set, then the following with each iteration
  same_wrds.add(i)                    # https://stackoverflow.com/questions/59825/how-to-retrieve-an-element-from-a-set-without-removing-it

  sentiment_vals2sum = []             # Will store the Sentiment Scores collected across data frames 

  for j in range(0, len(ls_df_names)):                    # in range of dataframes(44)
    is_wrd_there = i in ls_df_names[j]['Word'].unique()   # Return true or false. True if desired word 'i' is in the data frame being checked false if not (ls_df_names[0], ls_df_names[1],...)
    if is_wrd_there is True:                              # If true... 

      mask1 = ls_df_names[j]['Word'].values == i                  # Get the sentiment value of the word from its dataframe 
                                                                  # https://stackoverflow.com/questions/17071871/how-do-i-select-rows-from-a-dataframe-based-on-column-values
                                                     
      sentiment_vals2sum.append(ls_df_names[j][mask1].iat[0,1])   # append sentiment value to list where they are stored eg. sentiment_vals2sum 
      num_avg = mean(sentiment_vals2sum)                          # Take the mean of the sentiment scores collected in the list above(these are all sentiment scores for one word collected across dataframes where the word was found 'True')
      word_vals_dict[i] = num_avg                                 # Give the word we are analyzing a value in the dict where all the words seen in positive and negative lexicon are being stored in rg. word_vals_dict

# Allow about 8-10min for runtime (Sorry I am still somewhat new to pthon and don't know how to optimize nested loops)

In [ ]:
word_vals_dict       # See the average Sentiment Score for each of the words that were found in both the positive and negative lexicon

1.4.2a Remove words that now have a clear positive or negative classification
- Words that have a positive avg score are removed from negative lexicon and vice versa

In [ ]:
for w in word_vals_dict.items():        # .items() returns a tuple of (word, score). See Cell above for all words: scores in dict
  if w[1] >= 0:                         # if w[1] (the score) is greater than 0...
    neg_lexicon.remove(w[0])            # remove it from the negative lexicon
  if w[1] < 0:                          # If w[1] (the score) is less than 0...
    pos_lexicon.remove(w[0])            # remove the word from the positive lexicon

### 1.4.3 Tokenize tweets from test data and count occurance of tokens in the positive and negative lexicons

In [ ]:
def pos_neg_count_func():

In [ ]:
from functools import reduce

In [ ]:
#Compare + and - Lexicons with the tokens(in list form) from the tweet

for i in range(0, len(df.index)):                      # In the range 0 to length of the tweets dataframe 
  tokens = df['TWEET'].values[i].lower().split()       # Create tokens for tweet and make them all lowercase (make lowercase to match the lexicons)
  
  wrd_mtches = reduce(lambda x, y: x + pos_lexicon.count(y), set(tokens), 0)        # wrd_mtches is set to be the number of words found in the tweet that are in the positive lexicon     
  neg_wrd_mtch = reduce(lambda x, y: x + neg_lexicon.count(y), set(tokens), 0)      #neg_wrd_mtch is set to be the number of words founf in the tweet that are in the negative lexicon
  
  df['Count: Words in + Lexicon'].values[i] = wrd_mtches          # Place count values of found postivive words into dataframe of tweets at the correct index 
  df['Count: Words in - Lexicon'].values[i] = neg_wrd_mtch        # Place count values of found negative words into dataframe of tweets at the correct index

  #Allow 8-12min fro runtime

## *1.5* Does the tweet contain the word 'No'?

In [ ]:
for i in range(0, len(df.index)):                       # In the range 0 to length of the tweets dataframe 
  tokens = df['TWEET'].values[i].lower().split()        # Tokenize and lowercase tweets 
  if 'no' in tokens:                                    # If no is in tweet dataframe value is 1 if not value is zero
    df['Contain The word NO? '].values[i] = 1
  else: 
    df['Contain The word NO? '].values[i] = 0

## *1.6* Count 1st and 2nd person pronouns

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

In [ ]:

for i in range(0, len(df.index)):
  tokens = df['TWEET'].values[i].lower().split()
  tokens = [w for w in tokens if not w in stop_words]
  tagged = nltk.pos_tag(tokens)

  noun_definitions = ['NN', 'NNS', 'NNP', 'NNPS']
  count = 0

  for j in range(0, len(tagged)):
    if tagged[j][1] in noun_definitions:
      count += 1
  
  df['Count: Nouns'].values[i] = count

## 1.7 Ratio of Unique words to total words in tweet

In [ ]:
for i in range(0, len(df.index)):                       
  tokens = df['TWEET'].values[i].lower().split()
  x = np.array(tokens)
  ratio = len(np.unique(x)) / len(tokens)
  df['Ratio: Unique Words-Total Words'].values[i] = ratio

## 1.8 Ratio of stop words to total in tweet

In [ ]:
for i in range(0, len(df.index)):                       
  tokens = df['TWEET'].values[i].lower().split()
  x = np.array(tokens)
  stop_wrds_count = [w for w in tokens if w in stop_words]
  ratio = len(stop_wrds_count) / len(tokens)
  df['Ratio: Stop Words-Total Words'].values[i] = ratio

In [ ]:
df

,TWEET,Count: Words in + Lexicon,Count: Words in - Lexicon,Contain The word NO?,Count: Nouns,Contain !,Ratio: Unique Words-Total Words,Ratio: Stop Words-Total Words,Count: Adjectives in + Lexicon,Count: Adjectives in - Lexicon,Log: Tweet word count,Log: Length of Longest Word in Tweet,Log: Count of Words with 5+ Characters
0,QT @user In the original draft of the 7th book...,7.0,1.0,0.0,8.0,NaN,0.833333,0.333333,NaN,NaN,NaN,NaN,NaN
1,Ben Smith / Smith (concussion) remains out of ...,5.0,1.0,0.0,9.0,NaN,0.928571,0.214286,NaN,NaN,NaN,NaN,NaN
2,Sorry bout the stream last night I crashed out...,15.0,4.0,0.0,9.0,NaN,1.000000,0.458333,NaN,NaN,NaN,NaN,NaN
3,Chase Headley's RBI double in the 8th inning o...,10.0,10.0,0.0,9.0,NaN,1.000000,0.260870,NaN,NaN,NaN,NaN,NaN
4,@user Alciato: Bee will invest 150 million in ...,8.0,4.0,0.0,6.0,NaN,0.952381,0.333333,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36368,"@user \""""So amazing to have the beautiful Lady...",7.0,2.0,0.0,5.0,NaN,0.947368,0.368421,NaN,NaN,NaN,NaN,NaN
36369,"9 September has arrived, which means Apple's n...",8.0,7.0,0.0,4.0,NaN,1.000000,0.368421,NaN,NaN,NaN,NaN,NaN
36370,Leeds 1-1 Sheff Wed. Giuseppe Bellusci securin...,4.0,3.0,0.0,7.0,NaN,1.000000,0.235294,NaN,NaN,NaN,NaN,NaN
36371,@user no I'm in hilton head till the 8th lol g...,7.0,6.0,1.0,7.0,NaN,1.000000,0.285714,NaN,NaN,NaN,NaN,NaN
36372,WASHINGTON (Reuters) - U.S. Vice President Joe...,8.0,5.0,0.0,9.0,NaN,0.954545,0.272727,NaN,NaN,NaN,NaN,NaN